<div class="row border-bottom">
  <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <a class="navbar-minimalize minimalize-styl-2 btn btn-success"><i class="fa fa-bars"></i> </a>
      <div class="navbar-title-header">
        <li class="active">
          <strong>Dashboard</strong>
        </li>
      </div>
    </div>
    <ul class="nav navbar-top-links navbar-right">
      <li>
        <span class="m-r-sm font-bold" style="font-size: 15px;">OpenSky Ra Platform</span>
      </li>

      <li class="dropdown">
        <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#" style="font-weight:400;">
              <span><img alt="image" src="../../../assets/imgs/lang_en.png"/></span>&nbsp;&nbsp;English
	          </a>
        <ul class="dropdown-menu dropdown-alerts" style="width:150px;">

          <li>
            <a>
		          <span><img alt="image" src="../../../assets/imgs/lang_fr.png"/></span>&nbsp;&nbsp;Fran&ccedil;ais
		        </a>
          </li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#" style="font-weight:400;">
	            	<i class="fa fa-user"></i> TieuHo
	        	</a>
        <ul class="dropdown-menu dropdown-alerts" style="width:250px;">
          <li>
            <a>
		                 	<i class="fa fa-clock-o fa-fw"></i> Login
		                 	<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;07/09/2017
		                 </a>
          </li>
          <li class="divider"></li>
          <li>
            <a style="text-align: right;" href="/login">
							<i class="fa fa-sign-out"></i> Logout
						</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</div>