<!-- <header> -->
  <section class="view intro-2 hm-stylish-strong">
    <div class="full-bg-img flex-center">
      <div class="container">
        <div class="row">
          <div class="col-xl-5 col-lg-6 col-md-10 col-sm-12 mx-auto mt-lg-5">

            <!--Form with header-->
            <div class="card wow fadeIn" data-wow-delay="0.3s">
              <div class="card-body">

                <!--Header-->
                <div class="form-header purple-gradient">
                  <h3>Log in</h3>
                </div>

                <!--Body-->
                <div class="md-form">
                  <i class="fa fa-user prefix white-text"></i>
                  <input type="text" id="orangeForm-name" class="form-control">
                  <label for="orangeForm-name" class="">Your name</label>
                </div>

                <div class="md-form">
                  <i class="fa fa-lock prefix white-text"></i>
                  <input type="password" id="orangeForm-pass" class="form-control">
                  <label for="orangeForm-pass" class="">Your password</label>
                </div>

                <div class="text-center">
                  <button class="btn purple-gradient btn-lg waves-effect waves-light">Sign up</button>
                </div>

              </div>
            </div>
            <!--/Form with header-->

          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="hiddendiv common"></div>
<!-- </header> -->